.tabata {
    display: flex;
    flex-direction: column;
}

.tabata-buttons {
    display: flex;
    &.tabata-toggle-buttons {
        justify-content: center;
    }
    &.tabata-buttons-control {
        justify-content: space-around;
        width: 100%;
        max-width: 600px;
        margin: auto;
        button {
            width: 30%;
        }
    }
}

.tabata-card {
    >.mat-card {
        margin: 0 auto 10px auto;
        max-width: 600px;
    }
}

.tabata-inputs {
    .mat-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        .mat-icon {
            flex: 1;
            text-align: center;
        }
        form {
            flex: 2;
            .mat-form-field {
                width: 80%;
            }
        }
    }
    
}

.tabata-counters {
    .mat-card {
        display: flex;
        justify-content: space-around;
        .mat-card {
            border-width: 5px;
            width: 30%;
        }
    }
}

.tabata-countdown {
    .mat-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .tabata-countdown-text {
            margin: auto;
            .ng-star-inserted {
                height: 24px;
            }
        }
        .tabata-countdown-progress {
            margin-top: 10px;
        }
    }
}

.tabata-countdown-progress-spinner {
    display: flex;
    justify-content: center;
    div {
        position: absolute;
        top: 55px;
        z-index: 1;
    }
}

.tabata-circle-action.mat-progress-spinner::ng-deep {
    circle {
        stroke: orange;
    }
}
