<div class="tabata">
    <div class="tabata-buttons tabata-toggle-buttons">
        <mat-button-toggle-group      
            name="fontStyle"
            aria-label="Font Style"
            [(ngModel)]="toggleButton">
            <mat-button-toggle 
                *ngFor="let input of tabataList"
                [value]="input">
                <mat-icon>{{tabataData[input].icon}}</mat-icon>
                <span *ngIf="!isMobile">{{tabataData[input].title}}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="tabata-card tabata-inputs">
        <mat-card>
            <mat-icon>{{tabataData[toggleButton].icon}}</mat-icon>
            <form>
                <mat-form-field>
                    <input 
                        matInput 
                        [placeholder]="tabataData[toggleButton].title"
                        [(ngModel)]="tabataData[toggleButton].time"
                        [name]="tabataData[toggleButton].name"
                        [disabled]="status !== 'origin'">
                </mat-form-field>
            </form>
        </mat-card>
    </div>
    <div class="tabata-card tabata-counters"> 
        <mat-card>
            <mat-card>
                <mat-list>
                    <mat-list-item>{{nowLoopTime}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>{{tabataData.loopTime.time}}(個)</mat-list-item>
                </mat-list>
            </mat-card>
            <mat-card *ngIf="!isMobile">
                <div class="tabata-countdown-progress-spinner">
                    <div *ngIf="countdownNumber === 0">
                        <span *ngIf="step === 'ready'">Ready!</span>
                        <span *ngIf="step === 'action'">Go!</span>
                        <span *ngIf="step === 'rest'">Stop!</span>
                        <span *ngIf="step === 'end'">Finish!</span>
                    </div>
                    <div *ngIf="countdownNumber != 0">
                        <span *ngIf="step === 'ready'">預備 </span>
                        <span *ngIf="step === 'action'">運動 </span>
                        <span *ngIf="step === 'rest'">休息 </span>
                        <span>{{countdownNumber}} 秒</span>
                    </div>
                    <mat-progress-spinner 
                        [ngClass]="{'tabata-circle-action': step === 'action'}"
                        mode="determinate"
                        [value]="progressBar">
                    </mat-progress-spinner>
                </div>
            </mat-card>
            <mat-card>
                <mat-list>
                    <mat-list-item>{{nowGroupTime}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>{{tabataData.groupTime.time}}(組)</mat-list-item>
                </mat-list>
            </mat-card>
        </mat-card>
    </div>
    <div *ngIf="isMobile" class="tabata-card tabata-countdown">
        <mat-card>
            <div class="tabata-countdown-progress-spinner">
                <div *ngIf="countdownNumber === 0">
                    <span *ngIf="step === 'ready'">Ready!</span>
                    <span *ngIf="step === 'action'">Go!</span>
                    <span *ngIf="step === 'rest'">Stop!</span>
                    <span *ngIf="step === 'end'">Finish!</span>
                </div>
                <div *ngIf="countdownNumber != 0">
                    <span *ngIf="step === 'ready'">預備 </span>
                    <span *ngIf="step === 'action'">運動 </span>
                    <span *ngIf="step === 'rest'">休息 </span>
                    <span>{{countdownNumber}} 秒</span>
                </div>
                <mat-progress-spinner 
                    [ngClass]="{'tabata-circle-action': step === 'action'}"
                    mode="determinate"
                    [value]="progressBar">
                </mat-progress-spinner>
            </div>
        </mat-card>
    </div>
    <div class="tabata-buttons tabata-buttons-control">
        <button (click)="control('run')" *ngIf="status === 'origin'" mat-raised-button color="primary">
            <mat-icon>play_arrow</mat-icon>開始
        </button>
        <button (click)="control('pause')" *ngIf="status === 'run'" mat-raised-button color="primary">
            <mat-icon>pause</mat-icon>暫停
        </button>
        <button (click)="control('run')" *ngIf="status === 'pause'" mat-raised-button color="primary">
            <mat-icon>play_arrow</mat-icon>繼續
        </button>
        <button (click)="control('replay')" *ngIf="status === 'finish'" mat-raised-button color="primary">
            <mat-icon>replay</mat-icon>重新
        </button>
        <button (click)="cancel()" mat-raised-button><mat-icon>stop</mat-icon>取消</button>
    </div>
</div>
